@font-face {
  font-family: Circular;
  src: url("./fonts/ASCircularWeb-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url("./fonts/ASCircularWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: transparent;
  font-family: Circular, Helvetica, Arial, sans-serif;
  min-width: 320px;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.background-color-black {
  background-color: #000;
}

.text-color-white {
  color: #fff;
}

section {
  display: block;
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  max-width: 1440px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.row::before {
  content: ' ';
  display: table;
}

.row::after {
  content: ' ';
  display: table;
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.row::before {
  content: ' ';
  display: none;
}

.row::after {
  content: ' ';
  display: none;
}

.row.align-left {
  justify-content: flex-start;
}

.row.align-right {
  justify-content: flex-end;
}

.row.align-center {
  justify-content: center;
}

.row.align-justify {
  justify-content: space-between;
}

.row.align-spaced {
  justify-content: space-around;
}

.row.align-top {
  align-items: flex-start;
}

.row.align-middle {
  align-items: center;
}

.row.align-bottom {
  align-items: flex-end;
}

.row.align-stretch {
  align-items: stretch;
}

.row.row-reverse-small {
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .row.row-reverse-small {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .row.row-reverse-medium {
    flex-direction: row-reverse;
  }
}

@media (min-width: 992px) {
  .row.row-reverse-large {
    flex-direction: row-reverse;
  }
}

.row .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 12px;
  position: relative;
}

@media (min-width: 768px) {
  .row .column {
    padding: 0 12px;
  }
}

.row .column.align-left {
  align-items: flex-start;
}

.row .column.align-right {
  align-items: flex-end;
}

@media (min-width: 768px) {
  .row .column.align-right-medium-up {
    align-items: flex-end;
  }
}

.row .column.align-center {
  align-items: center;
}

.row .column.align-top {
  justify-content: flex-start;
}

.row .column.align-bottom {
  justify-content: flex-end;
}

.row .column.align-middle {
  justify-content: center;
}

.row .column.column-row {
  flex-direction: row;
  flex-wrap: wrap;
}

.row .column.no-padding {
  padding: 0;
}

.row .column.xs-1 {
  width: 8.33333%;
}

.row .column.xs-2 {
  width: 16.66667%;
}

.row .column.xs-3 {
  width: 25%;
}

.row .column.xs-4 {
  width: 33.33333%;
}

.row .column.xs-5 {
  width: 41.66667%;
}

.row .column.xs-6 {
  width: 50%;
}

.row .column.xs-7 {
  width: 58.33333%;
}

.row .column.xs-8 {
  width: 66.66667%;
}

.row .column.xs-9 {
  width: 75%;
}

.row .column.xs-10 {
  width: 83.03333%;
}

.row .column.xs-11 {
  width: 91.66667%;
}

.row .column.xs-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .row .column.sm-1 {
    width: 8.33333%;
  }
  .row .column.sm-2 {
    width: 16.66667%;
  }
  .row .column.sm-3 {
    width: 25%;
  }
  .row .column.sm-4 {
    width: 33.33333%;
  }
  .row .column.sm-5 {
    width: 41.66667%;
  }
  .row .column.sm-6 {
    width: 50%;
  }
  .row .column.sm-7 {
    width: 58.33333%;
  }
  .row .column.sm-8 {
    width: 66.66667%;
  }
  .row .column.sm-9 {
    width: 75%;
  }
  .row .column.sm-10 {
    width: 83.03333%;
  }
  .row .column.sm-11 {
    width: 91.66667%;
  }
  .row .column.sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row .column.md-1 {
    width: 8.33333%;
  }
  .row .column.md-2 {
    width: 16.66667%;
  }
  .row .column.md-3 {
    width: 25%;
  }
  .row .column.md-4 {
    width: 33.33333%;
  }
  .row .column.md-5 {
    width: 41.66667%;
  }
  .row .column.md-6 {
    width: 50%;
  }
  .row .column.md-7 {
    width: 58.33333%;
  }
  .row .column.md-8 {
    width: 66.66667%;
  }
  .row .column.md-9 {
    width: 75%;
  }
  .row .column.md-10 {
    width: 83.03333%;
  }
  .row .column.md-11 {
    width: 91.66667%;
  }
  .row .column.md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .row .column.lg-1 {
    width: 8.33333%;
  }
  .row .column.lg-2 {
    width: 16.66667%;
  }
  .row .column.lg-3 {
    width: 25%;
  }
  .row .column.lg-4 {
    width: 33.33333%;
  }
  .row .column.lg-5 {
    width: 41.66667%;
  }
  .row .column.lg-6 {
    width: 50%;
  }
  .row .column.lg-7 {
    width: 58.33333%;
  }
  .row .column.lg-8 {
    width: 66.66667%;
  }
  .row .column.lg-9 {
    width: 75%;
  }
  .row .column.lg-10 {
    width: 83.03333%;
  }
  .row .column.lg-11 {
    width: 91.66667%;
  }
  .row .column.lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row .column.xl-1 {
    width: 8.33333%;
  }
  .row .column.xl-2 {
    width: 16.66667%;
  }
  .row .column.xl-3 {
    width: 25%;
  }
  .row .column.xl-4 {
    width: 33.33333%;
  }
  .row .column.xl-5 {
    width: 41.66667%;
  }
  .row .column.xl-6 {
    width: 50%;
  }
  .row .column.xl-7 {
    width: 58.33333%;
  }
  .row .column.xl-8 {
    width: 66.66667%;
  }
  .row .column.xl-9 {
    width: 75%;
  }
  .row .column.xl-10 {
    width: 83.03333%;
  }
  .row .column.xl-11 {
    width: 91.66667%;
  }
  .row .column.xl-12 {
    width: 100%;
  }
}

sub,
sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 36%;
  line-height: 2.75;
  vertical-align: top;
}

.tm {
  font-size: 45%;
  line-height: 2.75;
  vertical-align: top;
}

.social-test {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  border: 1px solid #000;
}

.as-book {
  border-radius: 6px;
  background-color: #01426a;
  color: #fff;
  text-transform: uppercase;
  padding: 14px;
  position: relative;
  width: 200px;
  text-align: center;
  font-weight: 700;
  margin: 33px auto 0;
  display: none;
  pointer-events: none;
}

.as-book.active {
  display: block;
  pointer-events: auto;
}

.as-book:hover {
  background-color: #2774ae;
}

.main-page-header {
  background-color: #2774ae;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 12px;
  height: 35px;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9;
  transform: translateY(-100%);
  transition: transform .7s ease;
  transition-delay: 1.5s;
}

.main-page-header.active {
  transform: translateY(0%);
}

.main-page-header p {
  padding: 10px 0 0;
  width: 100%;
}

.main-page-footer {
  background-color: #e9e9e9;
  bottom: 0;
  color: #656565;
  font-size: 10px;
  height: auto;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

.main-page-footer p {
  line-height: 17px;
  margin: 0;
  padding: 0 24px;
}

.main-page-footer a {
  text-decoration: underline;
  color: #656565;
}

.main-page-footer p:nth-child(1) {
  padding-top: 40px;
}

.main-page-footer p:nth-child(:last-child) {
  padding-bottom: 40px;
}

.main-page-footer-slide {
  width: 100%;
  display: none;
  opacity: 0;
  pointer-events: none;
  z-index: 17;
  left: 0;
  bottom: 0;
}

.main-page-footer-slide.active {
  display: block;
  pointer-events: auto;
  opacity: 1;
  z-index: 6;
}

.main-page-footer-mobile p:nth-child(1) {
  padding-top: 8%;
}

.main-page-footer-mobile p {
  line-height: 14px;
}

@media only screen and (min-width: 320px) {
  .main-page-footer p:nth-child(1) {
    padding-top: 20px;
  }
}

.intro-block {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.main-page-outer {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.main-page-inner {
  display: flex;
  position: absolute;
  justify-content: space-between;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 1250px;
  transition: min-width .25s ease, width .25s ease;
}

@media (min-width: 375px) {
  .main-page-inner {
    min-width: 1250px;
  }
}

@media (min-width: 768px) {
  .main-page-inner {
    width: 100%;
    min-width: 1850px;
  }
}

.main-page-column {
  position: relative;
  width: 360px;
}

.main-page-column:nth-child(1) {
  transform: translateX(200%);
}

.main-page-column:nth-child(1) .main-page-card {
  transform: translateX(-200%);
}

.main-page-column:nth-child(2) {
  transform: translateX(100%);
}

.main-page-column:nth-child(2) .main-page-card {
  transform: translateX(-100%);
}

.main-page-column:nth-child(4) {
  transform: translateX(-100%);
}

.main-page-column:nth-child(4) .main-page-card {
  transform: translateX(100%);
}

.main-page-column:nth-child(5) {
  transform: translateX(-200%);
}

.main-page-column:nth-child(5) .main-page-card {
  transform: translateX(200%);
}

.main-page-card {
  background-size: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
  display: flex;
  margin: 10px 0;
  width: 360px;
  height: 600px;
}

.main-page-card-container {
  display: block;
  height: 100%;
  position: relative;
  width: 240px;
}

.main-page-card-center {
  margin: auto 0;
}

.main-page-card-white {
  background-color: #fff;
  position: absolute;
  left: 0;
  height: auto;
  width: 100%;
}

.main-page-card-wrapper,
.main-page-card-wrapper-two,
.main-page-card-wrapper-three,
.main-page-card-wrapper-four {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-56.25%);
  width: 100%;
}

.main-page-card-wrapper.card-collect {
  transform: translateY(11.9%);
}

.title-card-container {
  height: auto;
  position: relative;
}

.main-bg--color {
  background-color: #2774ae;
}

.guide main {
  background-color: #fff;
  display: block;
}

.guide .row {
  background-color: #000;
  padding: 10px 0;
}

.guide .row.guide_row {
  background-color: #fff;
}

.guide .row.guide_row .guide_row--title {
  font-size: 2.5rem;
  margin: 50px 0 0;
}

.guide .row.guide_row .guide_row--desc {
  font-size: 1.125rem;
  line-height: 1.25;
  margin-top: 15px;
}

.guide .row.guide_row .column {
  background-color: #fff;
  background-clip: padding-box;
}

.guide .column {
  background-color: #f1f1f1;
  background-clip: content-box;
}

/*# sourceMappingURL=styles.css.map */
