

// colors
$black: #000;
$white: #fff;
$off-white: #f1f1f1;
$gray-light: #d8dada;
$red: rgb(252, 4, 4);
$blue: #48a9c5;
$atlasblue: #2774ae;
$darkblue: #01426a;
$counterbarblue: #044268;


$flightblue: #2774ae;
$flightbgblue: #48a9c5;
$white: #fff;
$footercolor: #e9e9e9;
$footertextcolor: #656565;
$red: #f00000;
$footerheight: 141px;

