// sass-lint:disable border-zero, quotes, no-url-domains, no-url-protocols, trailing-semicolon, no-duplicate-properties
@font-face {
  font-family: Circular;
  src: url('./fonts/ASCircularWeb-Book.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url('./fonts/ASCircularWeb-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
}
