// sass-lint:disable border-zero, quotes, no-url-domains, no-url-protocols, trailing-semicolon, no-duplicate-properties
@font-face {
  font-family: Circular;
  src: url('https://resource.alaskaair.net/stylesheets/circular/ASCircularWeb-Book.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url('https://resource.alaskaair.net/stylesheets/circular/ASCircularWeb-Book.woff') format("woff");
  font-weight: 700;
  font-style: normal;
}
