// sass-lint:disable border-zero, quotes, no-url-domains, no-url-protocols, trailing-semicolon, no-duplicate-properties
@font-face {
  font-family: "VerizonNHGeTX";
  font-style: normal;
  src: url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeTX-Regular.eot#iefix');
  src: url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeTX-Regular.eot#iefix') format('eot'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeTX-Regular.woff2') format('woff2'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeTX-Regular.woff') format('woff'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeTX-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'VerizonNHGeTX';
  src: url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeTX-Bold.eot');
  src: url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeTX-Bold.eot?#iefix') format('embedded-opentype'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeTX-Bold.woff2') format('woff2'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeTX-Bold.woff') format('woff'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeTX-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'VerizonNHGeDS';
  font-style: normal;
  font-weight: 400;
  src: url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Regular.eot');
  src: url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Regular.eot?#iefix') format('embedded-opentype'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Regular.woff2') format('woff2'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Regular.woff') format('woff'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'VerizonNHGeDS';
  font-style: normal;
  font-weight: 700;
  src: url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Bold.eot');
  src: url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Bold.eot?#iefix') format('embedded-opentype'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Bold.woff2') format('woff2'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Bold.woff') format('woff'),
  url('https://info.verizonwireless.com/rs/324-BZD-350/images/VerizonNHGeDS-Bold.ttf') format('truetype')
}

