
.icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;

  use {
    &.icon--white {
      fill: $white;
    }

    &.icon--red {
      fill: $red;
    }

    &.icon--atlas-blue {
      fill: $atlasblue;
    }

  }
}
