<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Counter</title>
  <meta property="og:url"           content="-" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Year in Review 2019" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="/images/FB-Share.png" />

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>


  <!--NAV-->
  <nav class="nav"></nav>


  <!--HEADER-->
  <header class="header">
    <!--Header Fixed-->
    <div class="main-page-header">
      <p>Answer 5 questions and get 15% off a flight.</p>
    </div>
  </header>


  <!--MAIN-->
  <main class="main-page background-color-blue gradient--slide">

    <section>

      <!--outer-div-for-cards-->
      <div class="main-page-outer">   
        <div id="main-page-inner" class="main-page-inner">

            <!--Center Cards-->
            <div class="main-page-column main-page-card-center">
				
            <!--Counter-->
			      <div class="count-container">

                <div class="progress-container">
                  <div class="count-text--box">
                    <div class="count-text count-text-num">00</div>&nbsp;<div class="count-text count-text-amount">/05</div> 
                  </div>
                  <!--SVG 2-->
                  <svg  xmlns="http://www.w3.org/2000/svg" height="110" width="105" viewBox="-2 0 95 80" data-value="40">
                    <path class="bg" d="M28.47,86.59a44,44,0,1,1,35.22.33" style="fill:none;stroke:#cbe6ee;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;"/>
                    <path class="meter" stroke="#2774ae" d="M28.47,86.59a44,44,0,1,1,35.22.33" stroke-dasharray="350" stroke-dashoffset="350" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:6px;"/>
                  </svg>
                </div>

                <div class="count-text--quest">
                  <p>Answer <span class="dynamic-count">4</span> more questions to&nbsp;<br>
                    unlock you 15% discount
                  </p>
                </div> 
            </div>
                
            </div>
             <!--Center Cards END-->
  
          </div>
        </div>
        <!--outer-div-for-cards-END-->

    </section>

  </main>


  <script src="js/scripts.js"></script>

</body>

</html>