<!DOCTYPE html>
<html lang="en">
<head>
  <title>Year in Review 2019</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="2019 Year in Trivia—Test your knowledge or learn something new!">
  <meta property="og:url"           content="-" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Year in Review 2019" />
  <meta property="og:description"   content="2019 Year in Trivia—Test your knowledge or learn something new!" />
  <meta property="og:image"         content="/images/FB-Share.png" />

  <link rel="stylesheet" href="css/styles.css">
  <script>
    !function(e,t,a,n){
      e="//tags.tiqcdn.com/utag/alaska/main/dev/utag.js",
      a="script",(n=(t=document).createElement(a)).src=e,
      n.type="text/java"+a,
      n.async=!0,
      (e=t.getElementsByTagName(a)[0]).parentNode.insertBefore(n,e)
    }()
  </script>

</head>
<body>


  <!--NAV-->
  <nav class="nav"></nav>


  <!--HEADER-->
  <header class="header">
    <!--Header Fixed-->
    <div class="main-page-header">
      <p><strong>Answer 5 questions and get 15% off* a flight.</strong></p>
    </div>
  </header>


  <!--MAIN-->
  <main class="main-page">

    <!--Confetti Rain-->
    <div class="confetti-container"></div>
    <!--Confetti Rain END-->

    <!--Confetti Burst-->
    <div class="confetti-container--burst-holder">
      <div class="confetti-container--burst"></div>
    </div>
    <!--Confetti Burst END-->

    <section>

      <div class="cards">

        <!-- 2019 YIT logo lockup -->
        <div class="cards-lockup">
          <img src="images/asa_2019_yit_lockup.png" alt="Alaska 2019 Year in Trivia">
        </div>

        <div class="cards-single cta">

          <div id="drag-card-holder" class="cards-single--content">

              <div class="cards-single--init-card">

                <button>
                  Get Started
                </button>

              </div>

              <!-- COLOR CARDS -->
              <div class="main-page-card--color">
                <div class="bg-color-card clr0"></div>
              </div>
              <div class="main-page-card--color zIndex-4">
                <div class="bg-color-card clr1"></div>
              </div>
              <div class="main-page-card--color zIndex-3">
                <div class="bg-color-card clr2"></div>
              </div>
              <div class="main-page-card--color zIndex-2">
                <div class="bg-color-card clr3"></div>
              </div>
              <div class="main-page-card--color zIndex-1 box-shadow">
                <div class="bg-color-card clr4"></div>
              </div>
              <!-- COLOR CARDS END-->


              <!-- QUESTION 1 of 10 -->  
              <div class="main-page-card--question disable one">
                <div class="active-card q1 na">
                	<img src="images/gifs/FILL.gif" alt="">
						      <p class="quest">What do we ask you to bring on board as part of our #FillBeforeYouFly initiative?</p>
					    	  <p class="right-answer hide" data-res='1'>
                    <span>Yes!</span>If 10% of our guests use prefilled water bottles, we can save 700,000 plastic bottles and 4,000,000 plastic cups&nbsp;annually.</p>
                  <p class="wrong-answer hide" data-res='2'>
                    <span>Nope!</span>We ask guests to use prefilled water bottles as part of our initiative to eliminate single-use&nbsp;plastics.</p>
                  <p class="wrong-answer hide" data-res='3'>
                      <span>Nope!</span>We ask guests to use prefilled water bottles as part of our initiative to eliminate single-use&nbsp;plastics.</p>
                    

						      <div class="active-card--buttonwrapper">
                    <div class="hide-main-buttons">
                      <button class="active-card--button right-answer-bttn" data-res='1'>
                        Water bottle
                      </button>
                      <button class="active-card--button" data-res='2'>
                        Carry-on bag
                      </button>
                      <button class="active-card--button" data-res='3'>
                        Fish tank
                      </button>
                    </div>
                    <!-- Next Question Button --> 
                    <div class="next-question hide">
                      <button class="active-card--button next-question--button">
                        NEXT QUESTION
                      </button>
                      <span class="drag-text">
                        <i>Or drag left to&nbsp;continue.</i>
                      </span>
                    </div>
	                </div>
                </div>
              </div>


              <!-- QUESTION 2 of 10 -->
              <div class="main-page-card--question disable two">
                  <div class="active-card q2 na">
                    <img src="images/gifs/PIXAR.gif" alt="">
                    <p class="quest">Which characters appeared on our newest <em>Disneyland<sup>&nbsp;&reg;</sup> Resort</em>-themed&nbsp;plane?</p>
                    <p class="right-answer hide" data-res='1'><span>Correct.</span>You’ve got a friend in us…and on our Friendship and Beyond at <em>Disneyland<sup>&nbsp;&reg;</sup> Resort</em> Boeing&nbsp;737&#8209;800.</p>
                    <p class="wrong-answer hide" data-res='2'><span>Almost!</span>Characters from Disney and Pixar’s Toy Story graced our Friendship and Beyond at <em>Disneyland<sup>&nbsp;&reg;</sup> Resort</em> Boeing&nbsp;737&#8209;800. </p>
                    <p class="wrong-answer hide" data-res='3'>
                        <span>Almost!</span> Characters from Disney and Pixar’s Toy Story graced our Friendship and Beyond at <em>Disneyland<sup>&nbsp;&reg;</sup> Resort</em> Boeing&nbsp;737&#8209;800. 
                    </p>

                    <div class="active-card--buttonwrapper">
                      <div class="hide-main-buttons">
                        <button class="active-card--button right-answer-bttn" data-res='1'>
                          Woody, Buzz Lightyear &amp; Jessie
                        </button>
                        <button class="active-card--button" data-res='2'>
                          Nemo, Dory &amp; Marlin
                        </button>
                        <button class="active-card--button" data-res='3'>
                          Moana &amp; Maui
                        </button>
                      </div>
                      <!-- Next Question Button --> 
                      <div class="next-question hide">
                        <button class="active-card--button next-question--button">
                          NEXT QUESTION
                        </button>
                        <span class="drag-text">
                          <i>Or drag left to&nbsp;continue.</i>
                        </span>
                      </div>
                    </div>
                  

                  </div>
                </div>

                <!-- QUESTION 3 of 10 -->
                <div class="main-page-card--question disable three">
                	<div class="active-card q3 na">
                		<img src="images/gifs/GLOBE.gif" alt="">
                    <p class="quest">Which city can you reach via Alaska Global&nbsp;Partners and earn miles along the&nbsp;way?</p>
                    <p class="right-answer hide" data-res='1'><span>This one’s a freebie.</span>All these cities can be reached with our Global&nbsp;Partners.</p>
                    <p class="wrong-answer hide" data-res='2'><span>This one’s a freebie.</span>All these cities can be reached with our Global&nbsp;Partners.</p>
                    <p class="wrong-answer hide" data-res='3'><span>This one’s a freebie.</span>All these cities can be reached with our Global&nbsp;Partners.</p>
								 

                    <div class="active-card--buttonwrapper">
                      <div class="hide-main-buttons">
                        <button class="active-card--button right-answer-bttn" data-res='1'>
                          Singapore
                        </button>
                        <button class="active-card--button right-answer-bttn" data-res='2'>
                          Tel Aviv
                        </button>
                        <button class="active-card--button right-answer-bttn" data-res='3'>
                          Dublin
                        </button>
                      </div>

                      <!-- Next Question Button --> 
                      <div class="next-question hide">
                        <button class="active-card--button next-question--button">
                          NEXT QUESTION
                        </button>
                        <span class="drag-text">
                          <i>Or drag left to&nbsp;continue.</i>
                        </span>
                      </div>
                    </div>

                    </div>
                </div>

                <!-- QUESTION 4 of 10 -->
                <div class="main-page-card--question disable four">
                    <div class="active-card q4 na">
                      <img src="images/gifs/MILES.gif" alt="">
                      <p class="quest">Which of these nonstop routes racks up the most Mileage&nbsp;Plan<sup class="tm">&trade;</sup> miles?</p>
                      <p class="right-answer hide" data-res='1'><span>You got it!</span> Earning every one of those 2,841 miles makes the trip that much&nbsp;sweeter.</p>
                      <p class="wrong-answer hide" data-res='2'><span>Nope.</span>Our Anchorage to Chicago route covers 2,841 miles—and you earn every one you&nbsp;fly.</p>
                      <p class="wrong-answer hide" data-res='3'><span>Nope.</span>Our Anchorage to Chicago route covers 2,841 miles—and you earn every one you&nbsp;fly.</p>

                      <div class="active-card--buttonwrapper">
                        <div class="hide-main-buttons">
                          <button class="active-card--button right-answer-bttn" data-res='1'>
                            Anchorage to Chicago
                          </button>
                          <button class="active-card--button" data-res='2'>
                            Seattle to Cancun
                          </button>
                          <button class="active-card--button" data-res='3'>
                            San Francisco to Boston 
                          </button>
                        </div>
                    
                        <!-- Next Question Button --> 
                        <div class="next-question hide">
                          <button class="active-card--button next-question--button">
                            NEXT QUESTION
                          </button>
                          <span class="drag-text">
                            <i>Or drag left to&nbsp;continue.</i>
                          </span>
                        </div>

                      </div>
                    </div>
                </div>

                <!-- QUESTION 5 of 10 -->
                <div class="main-page-card--question disable five">
                	<div class="active-card q5 na">
                		<img src="images/gifs/PLANE.gif" alt="">
                    <p class="quest">Alaska Airlines started in Alaska (obvs), but how many states do we fly to&nbsp;today?</p>
                    <p class="right-answer hide" data-res='2'><span>Yes!</span>While we got our start flying between Anchorage and Bristol Bay, now our 115+ destinations cover 35 states and four&nbsp;countries.</p>
                    <p class="wrong-answer hide" data-res='1'><span>Nope!</span>While we got our start flying between Anchorage and Bristol Bay, now our 115+ destinations cover 35 states and four&nbsp;countries.</p>
                    <p class="wrong-answer hide" data-res='3'><span>Nope!</span>While we got our start flying between Anchorage and Bristol Bay, now our 115+ destinations cover 35 states and four&nbsp;countries.</p>

                    <div class="active-card--buttonwrapper">
                      <div class="hide-main-buttons">
                        <button class="active-card--button" data-res='1'>
                          31
                        </button>
                        <button class="active-card--button right-answer-bttn" data-res='2'>
                          35
                        </button>
                        <button class="active-card--button" data-res='3'>
                          47
                        </button>
                      </div>
                      <!-- Next Question Button --> 
                      <div class="next-question hide">
                        <button class="active-card--button next-question--button">
                          NEXT QUESTION
                        </button>
                        <span class="drag-text">
                          <i>Or drag left to continue.</i>
                        </span>
                      </div>
                    </div>
                  </div>
                 </div>

                <!-- QUESTION 6 of 10 -->
                <div class="main-page-card--question disable six">
                	<div class="active-card q6 na">
                		<img src="images/gifs/FIRE.gif" alt="">
                    <p class="quest">In which airports can you find our newest Alaska&nbsp;Lounges?</p>
                    <p class="right-answer hide" data-res='1'><span>Relax…you’re correct!</span>We opened both lounges in 2019, bringing extra levels of comfort to your next trip. And San Francisco is&nbsp;next. </p>
                    <p class="wrong-answer-a hide" data-res='3'><span>Actually,</span>it’s Seattle and New York-JFK. But we expect to complete updates to our SFO lounge in&nbsp;2020.</p>
                    <p class="wrong-answer hide" data-res='2'><span>Not quite!</span>Our newest Alaska Lounges are actually in Seattle and New York-JFK, with updates to San Francisco due for completion in&nbsp;2020. </p>

						        <div class="active-card--buttonwrapper">
                      <div class="hide-main-buttons">
                        <button class="active-card--button" data-res='3'>
                          SFO &amp; PDX
                        </button>
                        <button class="active-card--button" data-res='2'>
                          ANC &amp; LAX
                        </button>
                        <button class="active-card--button right-answer-bttn" data-res='1'>
                          SEA &amp; JFK
                        </button>
                      </div>
                      <!-- Next Question Button --> 
                      <div class="next-question hide">
                        <button class="active-card--button next-question--button">
                          NEXT QUESTION
                        </button>
                        <span class="drag-text">
                          <i>Or drag left to&nbsp;continue.</i>
                        </span>
                      </div>
	                	</div>
                  </div>
                </div>

                <!-- QUESTION 7 of 10 -->
                <div class="main-page-card--question disable seven">
                	<div class="active-card q7 na">
                		<img src="images/gifs/HOTEL.gif" alt="">
                    <p class="quest">What's the most miles you can earn per night at Alaska Airlines&nbsp;Hotels?</p>
                    <p class="right-answer hide" data-res='1'><span>Ding!</span>Earn up to 10,000 miles per night at some of our 400,000-plus properties&nbsp;worldwide.</p>
                    <p class="wrong-answer hide" data-res='3'><span>Good guess,</span>but think bigger—like up to 10,000 per&nbsp;night.</p>
                    <p class="wrong-answer hide" data-res='2'><span>Good guess,</span>but think bigger—like up to 10,000 per&nbsp;night.</p>

						        <div class="active-card--buttonwrapper">
                      <div class="hide-main-buttons">
                        <button class="active-card--button" data-res='3'>
                          500
                        </button>
                        <button class="active-card--button" data-res='2'>
                          7,500
                        </button>
                        <button class="active-card--button right-answer-bttn" data-res='1'>
                          10,000
                        </button>
                      </div>
						        	<!-- Next Question Button --> 
                      <div class="next-question hide">
                        <button class="active-card--button next-question--button">
                          NEXT QUESTION
                        </button>
                        <span class="drag-text">
                          <i>Or drag left to&nbsp;continue.</i>
                        </span>
                      </div>
	                	</div>
                  </div>
                </div>

                <!-- QUESTION 8 of 10 -->
                <div class="main-page-card--question disable eight">
                	<div class="active-card q8 na">
                		<img src="images/gifs/RUSSELL.gif" alt="">
                    <p class="quest">At which Seattle landmark did we team up with QB Russell Wilson to inspire 2019 grads to dream&nbsp;big?</p>
                    <p class="right-answer hide" data-res="1"><span>Touchdown!</span>We felt right at home when our Chief Football Officer delivered an inspirational message to Seattle-area high school&nbsp;grads. </p>
                    <p class="wrong-answer hide" data-res="2"><span>Close!</span>But we felt right at home supporting our Chief Football Officer’s message to high school grads at the Museum of&nbsp;Flight.</p>

                    <p class="wrong-answer hide" data-res="3"><span>Close!</span>But we felt right at home supporting our Chief Football Officer’s message to high school grads at the Museum of&nbsp;Flight.</p>

						        <div class="active-card--buttonwrapper">
                      <div class="hide-main-buttons">
                        <button class="active-card--button right-answer-bttn" data-res="1">
                          Museum of Flight
                        </button>
                        <button class="active-card--button" data-res="2">
                          Space Needle
                        </button>
                        <button class="active-card--button" data-res="3">
                          CenturyLink Field
                        </button>
                      </div>
                      <!-- Next Question Button --> 
                      <div class="next-question hide">
                        <button class="active-card--button next-question--button">
                          NEXT QUESTION
                        </button>
                        <span class="drag-text">
                          <i>Or drag left to&nbsp;continue.</i>
                        </span>
                      </div>
	                	</div>
                  </div>
                </div>

                <!-- QUESTION 9 of 10 -->
                <div class="main-page-card--question disable nine">
                	<div class="active-card q9 na">
                		<img src="images/gifs/PASSES.gif" alt="">
                    <p class="quest">Your boarding pass gives you special perks at which of these&nbsp;activities?</p>
                    <p class="right-answer hide" data-res="1"><span>You’re in.</span>Showing your boarding pass gets you access to select ski slopes and also&nbsp;wineries. </p>
                    <p class="right-answer-b hide" data-res="3"><span>You’re in!</span>Show your boarding pass for access to select wineries and also ski&nbsp;slopes.</p>
                    <p class="wrong-answer hide" data-res="2"><span>Almost.</span>But showing your boarding pass will get you access to select wineries and ski&nbsp;slopes. </p>

                    <div class="active-card--buttonwrapper">
                      <div class="hide-main-buttons">
                        <button class="active-card--button right-answer-bttn" data-res="1">
                          Ski resorts
                        </button>
                        <button class="active-card--button right-answer-bttn" data-res="3">
                          Wineries
                        </button>
                        <button class="active-card--button" data-res="2">
                          Rodeos
                        </button>
                      </div>
                      <!-- Next Question Button --> 
                      <div class="next-question hide">
                        <button class="active-card--button next-question--button">
                          NEXT QUESTION
                        </button>
                        <span class="drag-text">
                          <i>Or drag left to&nbsp;continue.</i>
                        </span>
                      </div>
	                	</div>
                    </div>
                </div>

                <!-- QUESTION 10 of 10 -->
                <div class="main-page-card--question disable ten">
                	<div class="active-card q10 na">
                		<img src="images/gifs/PANCAKES.gif" alt="">
                    <p class="quest">How many complimentary pancakes did guests enjoy in the Alaska&nbsp;Lounges in&nbsp;2019?</p>
                    <p class="right-answer hide" data-res='3'><span>You got it!</span>Guests gobbled up over 400,000 delicious, all-natural pancakes last year courtesy of our Alaska&nbsp;Lounge pancake&nbsp;machine.</p>
                    <p class="wrong-answer hide" data-res='1'><span>Almost!</span>Guests gobbled up over 400,000 delicious, all-natural pancakes last year courtesy of our Alaska&nbsp;Lounge pancake&nbsp;machine.</p>
                    <p class="wrong-answer hide" data-res='2'><span>Almost!</span>Guests gobbled up over 400,000 delicious, all-natural pancakes last year courtesy of our Alaska&nbsp;Lounge pancake&nbsp;machine.</p>


                    <div class="active-card--buttonwrapper">
                      <div class="hide-main-buttons">
                        <button class="active-card--button" data-res="1" data-res="1">
                          250,000
                        </button>
                        <button class="active-card--button" data-res="2" data-res="2">
                          325,000
                        </button>
                        <button class="active-card--button right-answer-bttn" data-res="3">
                          400,000
                        </button>
                      </div>

                      <!-- Next Question Button --> 
                      <div class="next-question hide">
                        <button class="active-card--button next-question--button last">
                          SEE RESULTS
                        </button>
                        <span class="drag-text">
                          <i>Or drag left to&nbsp;continue.</i>
                        </span>
                      </div>
                    </div>

                    </div>
				        </div>
				
				<!-- RESULTS CARD -->
            <div class="main-page-card--results disable">
              <div class="active-card">
                <div class="num-holder">
                  <div class="results-num ten">0</div>
                  <div class="results-num hundred">/0</div>
                </div>
                <div class="correct-text">correct</div>
                <p>Thanks for playing, <br>we can’t wait to see <br>you on board in&nbsp;2020!</p>
                <p>Share the&nbsp;fun:</p>
                <div>
                  <div class="results-share-fb">
                    <div class="fb-share-button"
                    data-href="-"
                    data-layout="button"
                    data-size="large">
                      <a target="_blank"
                      href="-" class="fb-xfbml-parse-ignore">
                      Share</a>
                    </div>
                  </div>
                  <div class="results-share-twitter">
                      <a class="twitter-share-button"
                      href="https://twitter.com/intent/tweet"
                      data-size="large"
                      data-text="Check out the Alaska Airlines 2019 Year in Trivia—a fun way to test your knowledge or learn something new!: https://2019alaskatriviaquiz.com"
                      data-url="bit.ly/1234567"
                      data-hashtags="alaskayearintrivia,iflyalaska"
                      data-via=""
                      ></a>
                  </div>
                </div>
              </div>
            </div>

          </div>



        </div>

        


        <div class="cards-progress counter-block">
          <div class="cards-progress-container">
            <!--Counter-->
			      <div class="count-container">

                <div class="progress-container">
                  <div class="count-text--box">
                    <div class="count-text count-text-num">00</div>&nbsp;<div class="count-text count-text-amount">/08</div> 
                  </div>
                  <!--SVG-->
                  <svg class="svg-counter"  xmlns="http://www.w3.org/2000/svg" height="110" width="102" viewBox="-1 0 95 80" data-value="40">
                    <path class="bg" d="M28.47,86.59a44,44,0,1,1,35.22.33" style="fill:none;stroke:#cbe6ee;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;"/>
                    <path class="meter" stroke="#01426a" d="M28.47,86.59a44,44,0,1,1,35.22.33" stroke-dasharray="350" stroke-dashoffset="350" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;"/>
                  </svg>
                </div>

                <!--NUMBER OF QUESTIONS LEFT-->
                <div class="count-text--quest">
                  <p>
                    <span class="dynamic-count">0</span>
                  </p>
                </div>

                <!--BOOK NOW-->
                <div class="book-container">
                  <a href="#" data-discount target="_blank">
                    <button class="book-button">
                      BOOK NOW
                    </button>
                  </a>
                  <p class="hide-book-button--text book-button--text">Keep answering questions to learn <br/>more about what we did in 2019.</p>
                </div>
                <!--BOOK NOW END-->

            </div>
            <!--Counter END-->

          </div>
        </div>

        
      

      </div>

    </section>

  </main>


  <!--FOOTER-->
  <footer class="footer main-page-footer-slide">
    <div class="main-page-footer">
        <p>
          *Discount code is valid for 15% off coach base fare levels published at <a href="http://alaskaair.com/" target="_blank" style="color: #656565;">alaskaair.com</a>. Valid for one-way or round-trip travel. Discount does not apply to government-imposed taxes and airport fees. Cannot be combined with other promotions.
        </p>

        <p>
          Discount code must be applied towards purchase of ticket by 11:59 pm PT on January 20, 2020.
        </p>
        
        <p>
          Travel is valid between all Alaska Airlines cities. Travel is valid April 21 - June 10, 2020. Travel to/from Hawaii, Mexico, or Costa Rica is valid Monday – Wednesday. Travel between all other cities is valid Tuesday, Wednesday, and Saturday. Valid for new ticket purchases only.
        </p>
        <p>
          © 2020 Alaska Airlines. All rights reserved.
        </p>


    </div>
  </footer>

  

  

  <script src="js/scripts.js"></script>

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=740721686425849&autoLogAppEvents=1"></script>

  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
  
    return t;
  }(document, "script", "twitter-wjs"));</script>

  <script>
  utag.view({
    "page_name" : "loyalty : 2019-year-in-review-quiz : home",
    "channel" : " loyalty"
  });
  </script>

</body>

</html>