<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>---</title>

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>


<nav class="nav">

</nav>

<header class="header">

</header>

<main>

  

  <div class="form-wrapper responsys-test">

      <!-- CUSTOMER_ID_=value&OFFER_CODE=value&OFFER_AUTHORIZATION=value -->
    
    <form>
      <div>
          <label for="name">Customer ID :</label>
          <input type="text" name="id"/>
      </div>
  
      <div>
          <label for="name">Offer Code :</label>
          <input type="text" name="offer"/>
      </div>
  
      <div>
          <label for="name">Offer Authorization:</label>
          <input type="text" name="auth"/>
      </div>
  
      <input type="submit" value="Submit">
    </form>


  </div>


</main>

<footer class="footer">

  </div>

</footer>

  <script src="js/scripts.js"></script>
</body>
</html>