<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>---</title>

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>


<nav class="nav">
  <div class="container">
    <img class="nav__logo" src="images/verizon_logo.png" aria-label="Verizon" alt="Verizon"/>
    <a href="#" class="nav__cta">Get started</a>
  </div>
</nav>

<header class="header">
  <div class="container">
    <div class="header__content">
      <h1 class="header__title">
        Get the devices that
        make it easy to work
        on the go.
      </h1>
      <a class="button header__cta" href="#bottom">
        Get Started
      </a>
    </div>
  </div>
  <img class="header__image" src="images/VAB33797_hero_background_mobile.jpg"/>
</header>

<main>

  <section class="section_row latest">

    <div class="section_row__column sm-6 md-3">
      <h2 class="latest__title">
        The latest<br/>
        devices.
      </h2>
    </div>

    <div class="section_row__column sm-6 md-3">
      <img src="images/VAB33797_mobile_devices.png"/>
    </div>

    <div class="section_row__column sm-6 md-3 background-color-black text-color-white">
      <h3 class="latest__subtitle">
        We have special</br>
        offers for you.
      </h3>
      <p>
          Contact your rep today.
      </p>
    </div>

    <div class="section_row__column sm-6 md-3 background-color-black text-color-white">
      <h3 class="latest__subtitle">
        Protect your<br/>
        business devices.
      </h3>
      <p>Get Total Mobile Protection for:</p>
      <ul>
        <li>Same-day device replacements and setup<sup>1</sup></li>
        <li>Unlimited cracked screen repair<sup>2</sup></li>
        <li>Battery replacement<sup>3</sup></li>
      </ul>
      <p>You must enroll within 30 days of activation. Terms apply.</p>

    </div>

  </section>

  <section class="section_row measurable">

    <div class="section_row__column sm-6 md-3">
      <h2 class="measurable__title">
        Measurable<br/>
        results.
      </h2>
    </div>

    <div class="section_row__column sm-6 md-3">
      <h3 class="measurable__subtitle">
        Productivity on the move.
      </h3>
      <p>
        With the right devices, you can stay productive working from virtually anywhere.
      </p>
    </div>

    <div class="section_row__column sm-6 md-3">
      <h3 class="measurable__subtitle">
        Productivity on the move.
      </h3>
      <p>
        With the right devices, you can stay productive working from virtually anywhere.
      </p>
    </div>

    <div class="section_row__column sm-6 md-3">
      <h3 class="measurable__subtitle">
        Productivity on the move.
      </h3>
      <p>
        With the right devices, you can stay productive working from virtually anywhere.
      </p>

    </div>

  </section>

  <section class="section_row container callout background-color-black text-color-white">
    
    <div class="section_row__column sm-12 md-6">
      <h2 class="callout__title">
        Get started.<br/>
        Log in to the My Business portal.
      </h2>
      <a class="button button--white callout__cta" href="#">
        Get Started
      </a>
    </div>
    <div class="section_row__column sm-12 md-6">
      <p>
        The My Business portal provides all the tools you’ll need to easily manage your account. To add a line, simply log in, follow the steps to select your device and your plan, and then get your number.
      </p>
    </div>

  </section>

  <section class="form">

    <div class="container">

      <h2 class="form__header">
        Or request a callback.
      </h2>
      <h3 class="form__subheader">
        Fill out this form.
      </h3>
  
      <form>

        <div class="form__input">
          <label>First name*</label>
          <input type="text" placeholder="First Name"/>
          <p class="form__input--error">This field is required.</p>
        </div> 

        <div class="form__input">
          <label>Last name*</label>
          <input type="text" placeholder="Last Name"/>
          <p class="form__input--error">This field is required.</p>
        </div> 

        <div class="form__input">
          <label>Business name*</label>
          <input type="text" placeholder="Business name"/>
          <p class="form__input--error">This field is required.</p>
        </div> 

        <div class="form__input">
          <label>Street address*</label>
          <input type="text" placeholder="Street address"/>
          <p class="form__input--error">This field is required.</p>
        </div> 

        <div class="form__input">
          <label>City*</label>
          <input type="text" placeholder="City"/>
          <p class="form__input--error">This field is required.</p>
        </div> 

        <div class="form__input">
          <label>State*</label>
          <input type="text" placeholder="State"/>
          <p class="form__input--error">This field is required.</p>
        </div> 

        <div class="form__input form__input--zip">
          <label>ZIP code*</label>
          <input type="text" placeholder="ZIP code"/>
          <p class="form__input--error">This field is required.</p>
        </div> 

        <div class="form__input form__input--email">
          <label>Email*</label>
          <input type="text" placeholder="Email"/>
          <p class="form__input--error">Email not valid.</p>
        </div> 

        <div class="form__input form__input--phone">
          <label>Phone number*</label>
          <input type="text" placeholder="Phone number"/>
          <p class="form__input--error">This field is required.</p>
        </div> 

        <div class="form__submit-holder">
          <p class="form__legend">
            *Indicates a required field. Any follow-up communications will use the information provided.
          </p>

          <a class="button button--dark form__submit" href="#">
            Submit
          </a>

          <p>
            Want immediate service? Call <a href="tel:866-267-7219">866.267.7219</a>.
          </p>
        </div>
  
      </form>

    </div> 

  </section>

</main>

<footer class="footer">
  <div class="container">
      <a id="bottom"/>
      <img class="footer-logo" src="images/businessready_logo_white.png"/>
      <p>Total Mobile Protection benefits are available for select devices. Claims limitations, deductibles and terms apply. See your Verizon account manager for details.</p>
      <p>
          <span><sup>1</sup>Eligibility will be determined at the point of claim and is contingent on certain criteria, including claim approval time.</span>
          <span><sup>2</sup>Visit phoneclaim.com/verizon to check eligibility, which is subject to change. Cracked screen repair claims will not count against your aggregate claim limit.</span>
          <span><sup>3</sup>Battery replacement provided under Verizon Extended Warranty program is available for select devices and subject to parts availability; select locations; eligibility will be determined at the point of claim.</span>
      </p>
      <p>© 2019 Verizon</p>
      <p>Verizon, One Verizon Way, Mail Code: 180WVB, Basking Ridge, NJ 07920</p>
  </div>

</footer>

  <script src="js/scripts.js"></script>
</body>
</html>