


.social-test {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  border: 1px solid $black;
}

.as-book {
  border-radius: 6px;
  background-color: $darkblue;
  color: $white;
  text-transform: uppercase;
  padding: 14px;
  position: relative;
  width: 200px;
  text-align: center;
  font-weight: 700;
  margin: 33px auto 0;
  display: none;
  pointer-events: none;

  &.active {
    display: block;
    pointer-events: auto;
  }

  &:hover {
    background-color: $flightblue;
  }
}
