// sass-lint:disable no-important, no-color-literals

.cta {
  background-color: $cta-blue;
  color: $white;
  border-radius: 3px;
  padding: 17px 50px 14px;
  line-height: 1;
  font-size: calculate-rem(16px);
  font-weight: 700;
  transition: background-color .3s ease-out, box-shadow .3s ease-out;


  &:hover {
    box-shadow: 0 0 1rem rgba(1, 66, 106, .4);
    background-color: $cta-blue-hover;
  }
}
