//div,
//img,
//p,
//span,
//svg {
//  outline: 1px solid $red;
//}

.confetti {
  &-container {
    height: 100vh;
    position: absolute;
    width: 100%;
    pointer-events: none;
    top: 0;
    z-index: 20;
    overflow: hidden;
  }

  &-container--burst-holder {
    position: relative;
    top: 160px;
    left: 98px;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  &-container--burst {
    right: 17%;
    margin: 0 auto;
    position: absolute;
    top: 44%;
    width: 20px;
    pointer-events: none;
    z-index: 20;
  }
}

@media only screen and (max-width: 768px) {

  .confetti-container--burst-holder {
    position: absolute;
    top: 14%;
    left: 47%;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  .confetti-container--burst {
    margin: 0 auto;
    position: relative;
    top: 16%;
    width: 20px;
    pointer-events: none;
    z-index: 20;
  }

}

@media only screen and (max-width: 576px) {

  .confetti-container--burst-holder {
    position: absolute;
    top: 74%;
    left: 43%;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  .confetti {
    &-container--burst {
      left: 0;
      margin: 0 auto;
      position: relative;
      top: 44%;
      width: 20px;
      pointer-events: none;
      z-index: 20;
    }
  }

}

