//div,
//img,
//p,
//span,
//svg {
//  outline: 1px solid $red;
//}

.confetti {
  &-container {
    height: 100vh;
    position: absolute;
    width: 100%;
    pointer-events: none;
    top: 0;
    z-index: 20;
    overflow: hidden;
  }

  &-container--burst-holder {
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-container--burst {
    right: 15.5%;
    margin: 0 auto;
    position: absolute;
    top: 49%;
    width: 20px;
    pointer-events: none;
    z-index: 20;
  }
}

@media only screen and (max-width: 768px) {

  .confetti {
  
    &-container--burst {
      margin: 0 auto;
      position: relative;
      top: 106px;
      left: 0;
      width: 20px;
      pointer-events: none;
      z-index: 20;
    }
  }

}

@media only screen and (max-width: 576px) {

  .confetti {
  
    &-container--burst {
      margin: 0 auto;
      position: relative;
      top: 66px;
      left: 0;
      width: 20px;
      pointer-events: none;
      z-index: 20;
    }
  }

}