div,
img,
p,
span,
svg {
  outline: 1px solid $red;
}

//$flightblue: #2774ae;
//$flightbgblue: #48a9c5;

//Number of Questions
.count {

	&-container {
		background-color: $flightbgblue;
		height: 110px;
		right: 100px;
		top: 38%;
		width: 110px;

		span {
			display: block;
			float: left;
			text-align: left;
		}
	}
	  
	/* Safari */
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}

.count {

	&-text-box {
		left: 21px;
		top: 36px;
		width: auto;
		position: absolute;
    }
    
	&-text {
		color: #fff;
		position: relative;
		display: block;
		float: left;
		width: 20px;
    }
    
	&-loader {
		border: 5px solid #f3f3f3;
		border-radius: 50%;
		border-top: 5px solid $flightblue;
		width: 90px;
		height: 90px;
		//-webkit-animation: spin 2s linear infinite; /* Safari */
		//animation: spin 2s linear infinite;
	}
}

.count {
	/* Safari */
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}

svg path {
	will-change: auto;
	stroke-width: 10px;
	stroke-miterlimit: round;
	transition: stroke-dashoffset 850ms ease-in-out;

}

//MEDIA QUERY
@media only screen and (max-width: 576px) {
   
    
}

@media only screen and (max-width: 768px) {
   

}

