@import './colors';

//div,
//img,
//p,
//span,
//svg {
//  outline: 1px solid $red;
//}

//Number of Questions
.count {

  &-container {
    height: 167px;
    right: 100px;
    top: 38%;
    width: 100%;
  }

  &-text--box {
    font-weight: bold;
    left: 107px;
    top: 73px;
    width: 60px;
    position: relative;
  }

  &-text  {
    color: $white;
    position: relative;
    display: block;
    float: left;
    width: 20px;
  }

  &-text--quest {
    color: $white;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }


  span {
    display: block;
    float: left;
    text-align: left;
  }


}

.progress-container {
  text-align: center;
  width: 100%;
}

svg path {
  will-change: auto;
  stroke-width: 10px;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 850ms ease-in-out;
}

.book {

  &-container {
    display: block;
    height: 100px;
    opacity: 0;
    position: relative;
    top: 10px;
    text-align: center;
    visibility: hidden;
    width: 100%;
  }

  &-button {
    position: relative;
    display: block;
    margin: 10px auto;
    width: 65%;
    padding: 13px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    border: 0;
    font-size: 12px;
    transition: .3s;
    background-color: $off-white;
    color: $counterbarblue;
  }
}

.book-button:hover {
  background-color: $darkblue;
  color: $off-white;
}

.book-button:focus {
  outline: none;
}


@media only screen and (max-width: 768px) {

  .cards-progress-container {
    width: 100%;
    align-self: center;
  }
  //
  .counter-block {
    display: block;
    width: 100%;
  }

  .count-text--box {
    left: auto;
    margin: 0 auto;
  }

  //SVG
  .svg-counter {
    height: 75px;
    width: 75px;
  }

  //Text
  .count {
    &-text {
      font-size: 12px;
    }

    &-text--box {
      padding: 0 0 0 8px;
      top: 57px;
    }
  }

}

@media only screen and (max-width: 576px) {
  .counter-block {
    display: block;
  }

  .count-text--box {
    left: auto;
    margin: 0 auto;
  }

  //SVG
  .svg-counter {
    height: 75px;
    width: 75px;
  }

  //Text
  .count {
    &-text {
      font-size: 12px;
    }

    &-text--box {
      padding: 0 0 0 8px;
      top: 57px;
    }
  }
}


