//div,
//img,
//p,
//span {
//  outline: 1px solid $red;
//}

$flightblue: #2774ae;
$flightbgblue: #48a9c5;

.main-page-card-center {
    height: 600px;
}


.main-page-card--question {
    opacity: 1;
    border-radius: 10px;
    display: block;
    float: left;
    height: 0;
    padding-bottom: 160%;
    margin: 10px 0;
    width: 100%;
    //overflow: hidden;
    position: absolute;
}

//Display and Zindex
.q1,
.q2,
.q3,
.q4,
.q5,
.q6,
.q7,
.q8,
.q9,
.q10 {
    display: flex;
}


// show whichever card I'm actively working on
//.q1 {display: flex;}
//.q2 {display: flex;}
//.q3 {display: flex;}
//.q4 {display: flex;}
//.q5 {display: flex;}
//.q6 {display: flex;}
//.q7 {display: flex;}
//.q8 {display: flex;}
//.q9 {display: flex;}
//.q10 {display: flex;}

//body color
.background-color-blue {
    background-color: $blue;
}

//BACKGROUND COLOR CARDS
.main-page-card--color {
    opacity: 1;
    border-radius: 10px;
    display: block;
    float: left;
    height: 0;
    padding-bottom: 160%;
    margin: 10px 0;
    top: 0;
    transform-origin: '50% 50%';
    width: 100%;
    position: absolute;
    z-index: 1;
}
.bg-color-card {
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.clr0 {
    background-color: #ffffff;
}

.clr1 {
    background-color: #b3d57d;
}

.clr2 {
    background-color: #4da786;
}

.clr3 {
    background-color: #47a4bf;
}

.clr4 {
    background-color: #2672ab;
}

.box-shadow {
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
}

.opacity-zero {
    opacity: 0;
}

.zIndex {

    &-4 {
        z-index: 4;
    }

    &-3 {
        z-index: 3;
    }

    &-2 {
        z-index: 2;
    }

    &-1 {
        z-index: 1;
    }
}

//GRADIENT
.gradient--slide {
    background: linear-gradient(90deg, $flightblue, $flightbgblue );
	background-size: 400% 400%;
	-webkit-animation: gradient 2s ease;
	animation: gradient 2s ease;
} 

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


//MEDIA QUERY
@media only screen and (max-width: 576px) {
    .main-page-inner {
        min-width: 1800px;
    }
    
    .active-card p {
        padding-top: 21px;
        padding-bottom: 15px;
        font-size: 10px;
        width: 124%;
    }

    .active-card--buttonwrapper {
        width: 124%;
    }

    .active-card--button {
        border-radius: 2px;
        margin-top: 10px;
        padding: 7px 0;
        font-size: 10px;
    }

    .active-card.q2 button {
        font-size: 7px;
    }

    .active-card.q4 button {
        font-size: 8px;
    }

    // QUESTION 1 (and all other odd questions, for now)
    .q1,
    .q3,
    .q5,
    .q7,
    .q9 {
        img {
            width: 52%;
        }
    }
    
}

@media only screen and (max-width: 768px) {
    .drag-card-holder {
        width: 20% !important;
    }
    
    .active-card p {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 15px;
        width: 114%;
    }

    .active-card--buttonwrapper {
        width: 114%;
    }

    .active-card--button {
        border-radius: 2px;
        margin-top: 10px;
        padding: 7px 0;
        font-size: 10px;
    }

    .active-card.q2 button, 
    .active-card.q4 button {
        font-size: 10px;
    }

}

