// FOOTER
.main-page-footer {
  background-color: $footercolor;
  bottom: 0;
  color: $footertextcolor;
  font-size: 10px;
  height: auto;//$footerheight;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  width: 100%;

  p {
    line-height: 17px;
    margin: 0;
    padding: 0 24px;
  }

  a {
    text-decoration: underline;
    color: $footertextcolor;
  }

  p:nth-child(1) {
    padding-top: 40px;
  }

  p:nth-child(:last-child) {
    padding-bottom: 40px;
  }

}

.main-page-footer-slide {
  width: 100%;
  display: none;
  opacity: 0;
  pointer-events: none;
  z-index: 17;

  left: 0;
  bottom: 0;

  &.active {
    display: block;
    pointer-events: auto;
    opacity: 1;
    z-index: 6;
  }
}

.main-page-footer-mobile {
  p:nth-child(1) {
    padding-top: 8%;
  }

  p {
    line-height: 14px;
  }
}


@media only screen and (min-width: 320px) {
  .main-page-footer {
    p:nth-child(1) {
      padding-top: 20px;
    }

  }
}


