
header {
  position: relative;
  height: 55px;
  background-color: $darkblue;
  border-bottom: 1px solid $darkerblue;
  display: flex;
  justify-content: flex-start;

  @include bp(md) {
    height: 95px;
  }

  img {
    height: 55px;
    width: auto;

    @include bp(md) {
      height: 95px;
    }
  }

}
