
header {
  position: relative;
  height: 55px;
  background-color: $darkblue;
  border-bottom: 1px solid $darkerblue;
  display: flex;
  justify-content: flex-start;

  .container {
    max-width: 100%;

    .column {
      padding: 0;
    }
  }

  @include bp(md) {
    height: 95px;
  }

  img {
    height: 55px;
    width: auto;
    pointer-events: none;

    @include bp(md) {
      height: 95px;
    }
  }

}
