.herobg {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: $white;
  background-image: url("../images/Alaska_Bali_Beach_4804_750px_800px.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-top: 30px;

  &__content {
    align-self: center;
    max-width: 612px;

    h1 {
      margin: 0;
      color: $atlasblue;
      font-size: 35px;
      line-height: 40px;
      // @include bp(sm) {
      //   color: $white;
      // }
      br {
        display: none;
        visibility: hidden;
        @include bp(sm) {
          display: inline;
          visibility: visible;
        }
      }
    }
  }

  .row .column {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include bp(sm) {
    padding-top: 30px;
    min-height: 400px;
    background-image: url("../images/Alaska_Bali_Beach_4804_2800px_800px.jpg");
    background-size: cover;
    background-position: 60% top;
  }

  @include bp(md) {
    background-position: 60% top;
  }

  @include bp(lg) {
    background-position: 67% top;
  }

  @include bp(xl) {
    background-position: 100% top;
  }
}
