
.herobg {
  position: relative;
  height: 120vw;
  width: 100%;
  background-color: $white;
  background-image: url('../images/hero_bg_img_mob.jpg');
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  padding-top: 10vw;

  h1 {
    margin: 0;
    padding: 0 8vw 0 8vw;
    color: $white;
    font-size: 40px;
    line-height: 45px;
  }


  @include bp(md) {
    padding-top: 30px;
    height: 400px;
    background-image: url('../images/hero_bg_img.jpg');
    background-size: cover;
    background-position: center top;
  }
}

  