
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: $white;
  border-bottom: 1px solid $gray-light;
  border-top: 30px solid $black;
  z-index: 5;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    position: relative;
    width: 100%;
    max-width: 160px;
    height: auto;
  }

  &__cta {
    position: relative;
    font-weight: 700;
    color: $black;
    @include font-size(20px);
  }
}
