.section__travel-benefits {
    background-color: $blue;

    color: $white;
    padding: 65px 0 65px 0;

    &--headline {
        text-align: center;
        font-size: @include font-size(40px);
        line-height: 45px;
        font-weight: 700;
    }

    &--container {
        text-align: center;
    }
}