
main {
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: $off-white;
}

//div,
//img,
//span {
//  outline: 1px solid $red;
//}





//Outer Div - Position Relative
.main-page-outer {
  position: relative;
  height: 100vh;// - $footerheight;
  overflow: hidden;
  width: 100%;
}

//Inner Div - Position Absolute
.main-page-inner {
  display: flex;
  position: absolute;
  justify-content: space-between;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 1250px;
  transition: min-width .25s ease, width .25s ease;

  @media (min-width: 375px) {
    min-width: 1250px;
  }
  @include bp(md) {
    width: 100%;
    min-width: 1850px; // 1250
    //
  }
}

// Centering all main-page-columns and offsetting the child elements.
// the animation will revolve for the individual card to center vertically but not horizontally

.main-page-column {
  position: relative;
  width: 360px;

  &:nth-child(1) {
    transform: translateX(200%);

    .main-page-card {
      transform: translateX(-200%);
    }
  }

  &:nth-child(2) {
    transform: translateX(100%);

    .main-page-card {
      transform: translateX(-100%);
    }
  }

  &:nth-child(4) {
    transform: translateX(-100%);

    .main-page-card {
      transform: translateX(100%);
    }
  }

  &:nth-child(5) {
    transform: translateX(-200%);

    .main-page-card {
      transform: translateX(200%);
    }
  }
}

.main-page-card {
  background-size: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
  display: flex;
  margin: 10px 0;
  width: 360px;
  height: 600px;

  &-container {
    display: block;
    height: 100%;
    position: relative;
    width: 240px;
  }

  &-center {
    margin: auto 0;
  }

  &-white {
    background-color: $white;
    position: absolute;
    left: 0;
    height: auto;
    width: 100%;
  }

}

.main-page-card-wrapper,
.main-page-card-wrapper-two,
.main-page-card-wrapper-three,
.main-page-card-wrapper-four {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-56.25%); //translateY(-56.25%)
  width: 100%;
}

.main-page-card-wrapper {
  //transform: translateY(-38%);

  &.card-collect {
    transform: translateY(11.9%);
  }
}

//Card Designs
.title-card-container {
  height: auto;
  position: relative;
}




//BG Background Color
.main-bg--color {
  background-color: $flightblue;
}

