
main {
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: $off-white;
}


//Set page layout
$flightlblue: #2774ae;
$white: #fff;
$footercolor: #e9e9e9;
$footertextcolor: #656565;

div,
img,
table,
span {
  outline: 1px solid #f00;
}

.main-page {
  background-color: transparent;
}

.main-page-header {
  background-color: $flightlblue;
  border-bottom: 2px solid $white;
  color: $white;
  font-size: 12px;
  height: 61px;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;

  p {
    padding: 20px 0 0;
    width: 100%;
  }
}

//Outer Div - Position Relative
.main-page-outer {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

//Inner Div - Position Absolute
.main-page-inner {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  @include bp(md){
    min-width: 1800px;
  }
}

.main-page-column {
  width: 20%;
}

.main-page-card {
  background-size: contain;
  border-radius: 10px;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 0;
  padding-bottom: 160%;
  margin: 10px 0;
  width: 100%;

  &-container {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    width: 240px;
  }
}

//Seperate Cards
.main-page-card-title {
  background-image: url('../images/cards/Title_Card.png');
}

.main-page-card-atlas {
  background-image: url('../images/cards/Atlas.gif');
}

.main-page-card-breezeCard {
  background-image: url('../images/cards/breezeCard.gif');
}

.main-page-card-palm {
  background-image: url('../images/cards/palm.gif');
}

.main-page-card-tropical {
  background-image: url('../images/cards/tropical.gif');
}

.main-page-card-midnight {
  background-image: url('../images/cards/midnight.gif');
}


/*FOOTER*/
.main-page-footer {
	background-color: $footercolor;
	bottom: 0;
	color: $footertextcolor;
	font-size: 10px;
	height: 141px;
	position: relative;
	text-align: center;
  width: 100%;

	p {
		line-height: 17px;
		margin: 0;
		padding: 0 24px;
	}

	a {
		text-decoration: underline;
		color: $footertextcolor !important;
	}

	p:nth-child(1) {
		padding-top: 40px;
  }

  p:nth-child(:last-child) {
    padding-bottom: 40px;
  }
  
}

